@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #292929;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}

.header h1 {
  margin: 0 auto;
}

button {
  background-color: #292929;
  color: #ffffff;
  border: solid #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.rules {
  text-align: center;
  border: solid #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: fit-content;
  background-color: #616161;
}

.start {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin-right: 20px;
  padding: 200px;
}

.split {
  height: 80%;
  width: 46%;
  position: absolute;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
  border: 4px solid #ffffff;
  border-radius: 10px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.cptxt {
  text-align: center;
  margin-top: 10px
}

.webcam {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
}

.player {
  text-align: center;
}

.compimg {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(104%) contrast(104%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 70px;
  height: 280px;
  width: 280px;
}

/*===================*/
/* HANG
/*===================*/

@-webkit-keyframes hang-on-hover {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-on-hover {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hang-on-hover-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-on-hover-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hang-on-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hang-on-hover:hover, .hang-on-hover:focus, .hang-on-hover:active {
  -webkit-animation-name: hang-on-hover-sink, hang-on-hover;
  animation-name: hang-on-hover-sink, hang-on-hover;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}